## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [23]:
import pandas as pd

# загрузите датасет
df = pd.read_csv("vgsales.csv")  # ваш код здесь

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [22]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [19]:
# ваш код здесь
df_unique = df.copy()["Name"].dropna().unique()
len(df_unique)

#11493

11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [26]:
# ваш код здесь
df.copy()["JP_Sales"].sum()

#1291

np.float64(1291.0200000000002)

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [40]:
# ваш код здесь
df_na_sales = df.copy()[["NA_Sales", "Genre"]]
df_na_sales.groupby("Genre")["NA_Sales"].sum().sort_values(ascending=False)

# Action          877.83
# Sports          683.35
# Shooter         582.60

Genre
Action          877.83
Sports          683.35
Shooter         582.60
Platform        447.05
Misc            410.24
Racing          359.42
Role-Playing    327.28
Fighting        223.59
Simulation      183.31
Puzzle          123.78
Adventure       105.80
Strategy         68.70
Name: NA_Sales, dtype: float64

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [57]:
# ваш код здесь
df_most_popular = df.copy()
print(f' count in 2000 =  {len(df_most_popular[df_most_popular.Year == 2000])}')
print(f' count in 2005 =  {len(df_most_popular[df_most_popular.Year == 2005])}')

# count in 2000 =  349
# count in 2005 =  941

 count in 2000 =  349
 count in 2005 =  941

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [64]:
# ваш код здесь
df_most_popular_12_15 = df.copy()[(df.Year >= 2012) & (df.Year <= 2015)]
df_most_popular_12_15.value_counts()

Rank   Name                                        Platform  Year    Genre         Publisher               NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
16574  Grisaia no Kajitsu: La Fruit de la Grisaia  PSP       2013.0  Adventure     Prototype               0.00      0.00      0.01      0.00         0.01            1
17     Grand Theft Auto V                          PS3       2013.0  Action        Take-Two Interactive    7.01      9.27      0.97      4.14         21.40           1
24     Grand Theft Auto V                          X360      2013.0  Action        Take-Two Interactive    9.63      5.31      0.06      1.38         16.38           1
33     Pokemon X/Pokemon Y                         3DS       2013.0  Role-Playing  Nintendo                5.17      4.05      4.34      0.79         14.35           1
34     Call of Duty: Black Ops 3                   PS4       2015.0  Shooter       Activision              5.77      5.81      0.35      2.31         14.24           1
                                                                                                                                                                     ..
82     Pokemon Black 2/Pokemon White 2             DS        2012.0  Role-Playing  Nintendo                2.91      1.86      3.14      0.43         8.33            1
78     FIFA 16                                     PS4       2015.0  Sports        Electronic Arts         1.11      6.06      0.06      1.26         8.49            1
74     Animal Crossing: New Leaf                   3DS       2012.0  Simulation    Nintendo                2.01      2.32      4.36      0.41         9.09            1
73     Minecraft                                   X360      2013.0  Misc          Microsoft Game Studios  5.58      2.83      0.02      0.77         9.20            1
68     Call of Duty: Ghosts                        PS3       2013.0  Shooter       Activision              4.09      3.73      0.38      1.38         9.59            1
Name: count, Length: 2395, dtype: int64

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [89]:
# ваш код здесь
df_eu_percent = df.copy()[df.Genre == "Sports"][["NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]].apply(lambda x: x.sum())
df_eu_percent["percent"] = df_eu_percent["EU_Sales"] * 100  / (df_eu_percent["EU_Sales"] + df_eu_percent["NA_Sales"] + df_eu_percent["JP_Sales"] + df_eu_percent["Other_Sales"] + df_eu_percent["Global_Sales"])
print(df_eu_percent["percent"])
# 14.15

14.159468263779038